@import url( 'ionicons.css' );

/* Styles specific to the editor. */
html {
    font-size: 100%
}

body#tinymce {
    border: none;
    font-size: 100%;
    margin: 0;
    min-height: 50px;
    padding: 1.5rem 1.5rem 0 !important;
}

body#tinymce {
    font-family: Roboto, "Noto Sans", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
    max-width: 1280px
}

body#tinymce .wp-caption-dt {
    margin-left: 0;
}

body#tinymce .wp-caption-dd {
    padding-top: 0;
}

body#tinymce .wp-caption-dd span {
    color: #777;
    display: block;
    font-size: 88%;
    padding-top: 5px;
    text-transform: uppercase;
}

hr {
    clear: both;
    display: block;
}