.wp-customizer .customize-control-kirki .description {
    display: block;
    font-style: italic;
    line-height: 18px;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 1em;
}

.wp-customizer .customize-control-kirki-radio label {
    color: rgba(0, 0, 0, 0.9);
    font-weight: 600;
}

.wp-customizer .customize-control-kirki-radio label .option-description {
    color: rgba(0, 0, 0, 0.75);
    font-size: 1em;
    font-weight: 400;
    padding-left: 0;
}

.wp-customizer #customize-control-background_image_size.customize-control-kirki-radio-buttonset .buttonset .switch-label {
    border-right: none;
    float: left;
    margin-bottom: 1px;
    margin-right: 1px;
}

.wp-customizer .customize-control-kirki-radio label {
    line-height: 20px;
    display: block;
    margin-left: 24px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 0;
}

.wp-customizer .customize-control-kirki-radio input, .wp-customizer .customize-control-kirki-checkbox input {
    margin-right: 4px;
    margin-left: -24px;
}

.wp-customizer .customize-control-kirki-color .wp-picker-container a.wp-color-result:after {
    background: #F7F7F7;
    color: #555;
}

.wp-customizer .customize-control-kirki-color .wp-picker-container a.wp-color-result:hover:after {
    background: #F7F7F7;
    color: #23282d;
}

.wp-customizer .customize-control-kirki-color .wp-picker-container a.wp-color-result span {
    width: 50%;
}

.wp-customizer .customize-control-kirki-color .wp-picker-container {
    width: 120px;
}

.wp-customizer .customize-control-kirki-color .wp-picker-container a.wp-color-result {
    width: auto;
    display: block;
    border: none;
    padding-left: 30px;
}

.wp-customizer .customize-control-kirki-color .wp-picker-container a.wp-color-result:after {
    background: #f7f7f7;
    color: #555;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.wp-customizer .customize-control-kirki-color .wp-picker-container a.wp-color-result:focus:after, .wp-customizer .customize-control-kirki-color .wp-picker-container a.wp-color-result:hover:after {
    color: #555;
}

.customize-control-kirki-multicolor .wp-picker-container .wp-picker-input-wrap {
    position: absolute;
    left: 0;
    margin-top: 45px;
}

.customize-control-kirki label {
    cursor: text;
}

body .kirki-customizer-loading-wrapper {
    background-image: none !important;
}

.multicolor-single-color-wrapper a.wp-color-result {
    position: relative;
}

.multicolor-single-color-wrapper a.wp-color-result:before {
    content: "";
    background: #eee;
    height: 100%;
    width: 1px;
    position: absolute;
    z-index: 10;
}
