/*
Theme Name: Daddy Theme
Template: themelia
*/

body * {
    font-family: 'Shadows Into Light', cursive;
    color: black;
}

#menu-primary a:hover {
    background-color: #fb9670;
    border-radius: 25%;
    margin: 3%;
}

.main {
    background-color: #7cf9ec;
}

#sidebar-primary {
    background-color: white;
}

.wrap {
    color: #4efcf4;
}

.site-info {
    background-color: #4efcf4;
}

.sm-simple>li.current-menu-item>a::before,
.sm-simple>li.current_page_item>a::before,
.sm-simple>li.current_page_parent>a::before,
.sm-simple>li.current-page-ancestor>a::before {
    display: none;
}

a::before {
    width: 0;
    height: 0;
}